{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <h1>{% trans "Change Password" %}</h1>

    <form class="ui large form" method="POST" action="{% url 'account_change_password' %}" class="password_change">
    	<div class="ui stacked segment">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
	  	<div class="fieldWrapper">
	  		<div class="field">
		        {{ field.errors }}
		        {{ field }}
		    
   		 </div>
   	  {% endfor %}
        <button class="ui fluid large blue submit button" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
