{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<h2 class="ui blue image header">{% trans "Sign Up" %}</h2>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

	<form class="ui large form" id="signup_form" method="post" action="{% url 'account_signup' %}">
	 <div class="ui stacked segment">
	  {% csrf_token %}
	  {% for field in form %}
	  	<div class="fieldWrapper">
	  		<div class="field">
		        {{ field.errors }}
		        {{ field }}
		    
   		 </div>
   	  {% endfor %}
	  {% if redirect_field_value %}
	  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
	  {% endif %}
	  <button class="ui fluid large blue submit button" type="submit">{% trans "Sign Up" %} &raquo;</button>
	  </div>
	</form>

{% endblock %}
