{% extends "core/base3.html" %}

{% load staticfiles %}

{% block head %}

{% endblock head %}

{% block content %}
<div class="ui padded divided grid">
	<div class="two wide column"></div>
	<div class="two wide column"> 
		<h3> Settings </h3>
		<p> Account </p>
		<p> Privacy </p>
		<p> Notifications </p>
	</div>
	<div class="twelve wide column"> 
	<p> Email </p>
	<p><a href="{% url 'account_reset_password' %}"> Change Password </a></p>
	<p> Logout </p>

	<p> Change Profile Picture </p>
	</div>


{% endblock content %}