<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
       <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js">
      </script>

        <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
        <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
        {% block head %}{% endblock head %}

        <style type="text/css">
        body {
          background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
          margin-right: 1.5em;
        }
        .main.container {
          margin-top: 7em;
        }
        .wireframe {
          margin-top: 2em;
        }
        .ui.footer.segment {
          margin: 5em 0em 0em;
          padding: 5em 0em;
        }


        </style>
    </head>

    <body>
      <div class="ui inverted menu">
          <div class="ui container">
       
            <a href="/" class="header item">
              <!--<img class="logo" src="./Fixed Menu Example - Semantic_files/logo.png">-->
              Newsapp
            </a>
        
            <a href="/dashboard/" class="item">My Feed</a>
            <a href="/profile/" class="item">My Links</a>
            <a href="/discover/" class="item">Discover</a>

            <div class="right item">
              <a class="item" href="/user/{{ user.username }}">Account</a>
              <a class="item" href="/accounts/logout/">Log Out</a>
            </div>
          </div>
      </div>

        {% block content %}{% endblock content %}

    </body>
    {% block extra %} {% endblock extra %}
</html>
