<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
        <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
        {% block head %}{% endblock head %}

        <style type="text/css">
        body {
          background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
          margin-right: 1.5em;
        }
        .main.container {
          margin-top: 7em;
        }
        .wireframe {
          margin-top: 2em;
        }
        .ui.footer.segment {
          margin: 5em 0em 0em;
          padding: 5em 0em;
        }


        </style>
    </head>

    <body>
      <div class="ui fixed inverted menu">
          <div class="ui container">
       
            <a href="/dashboard/" class="header item">
              <!--<img class="logo" src="./Fixed Menu Example - Semantic_files/logo.png">-->
              Newsapp
            </a>
        
            <a href="/dashboard/" class="item">My Feed</a>
            <a href="/profile/" class="item">My Links</a>
            <a href="/discover/" class="item">Discover</a>

          <div class="right item">
           <a href="/accounts/logout/" class="item">Log Out</a>
          </div>

          </div>
      </div>

        {% block content %}{% endblock content %}

    </body>
</html>