<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'semantic/dist/semantic.min.css' %}">
        <script src="{% static 'semantic/dist/semantic.min.js' %}"></script>
        {% block head %}{% endblock head %}

        <style type="text/css">
        body {
          background-color: #FFFFFF;
        }
        .ui.menu .item img.logo {
          margin-right: 1.5em;
        }
        .main.container {
          margin-top: 7em;
        }
        .wireframe {
          margin-top: 2em;
        }
        .ui.footer.segment {
          margin: 5em 0em 0em;
          padding: 5em 0em;
        }
        </style>
    </head>

    <body>
      <div class="ui fixed inverted menu">
          <div class="ui container">
       
            <a href="/dashboard/" class="header item">
              <!--<img class="logo" src="./Fixed Menu Example - Semantic_files/logo.png">-->
              Newsapp
            </a>
        
            <a href="/dashboard/" class="item">My Feed</a>
            <a href="/profile/" class="item">My Links</a>
            <a href="/discover/" class="item">Discover</a>

          <div class="right item">
           <a href="/accounts/logout/" class="item">Log Out</a>
          </div>

          </div>
      </div>

        {% block content %}{% endblock content %}

        <div class="ui inverted vertical footer segment">
            <div class="ui container">
              <div class="ui stackable inverted divided equal height stackable grid">
                <div class="three wide column">
                  <h4 class="ui inverted header">About</h4>
                  <div class="ui inverted link list">
                    <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Sitemap</a>
                    <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Contact Us</a>
                    <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Religious Ceremonies</a>
                    <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Gazebo Plans</a>
                  </div>
                </div>
                <div class="three wide column">
                  <h4 class="ui inverted header">Services</h4>
                  <div class="ui inverted link list">
                    <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Banana Pre-Order</a>
                    <a href="http://semantic-ui.com/examples/homepage.html#" class="item">DNA FAQ</a>
                    <a href="http://semantic-ui.com/examples/homepage.html#" class="item">How To Access</a>
                    <a href="http://semantic-ui.com/examples/homepage.html#" class="item">Favorite X-Men</a>
                  </div>
                </div>
                <div class="seven wide column">
                  <h4 class="ui inverted header">Footer Header</h4>
                  <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
                </div>
              </div>
            </div>
        </div>
    </body>
</html>