{% extends "core/base2.html" %}
{% load staticfiles %}

{% block head %}


{% endblock head %}

{% block content %}


<div class="ui main container">

	<div class="ui header"> <h1> Newsfeed </h1> 

	</div>



	{% if followee_articles %}
	<div class="ui three cards">
		{% for article in followee_articles %}
		<div class="ui card">
		  <div class="image">
		    <img src="{{ MEDIA_URL }}{{ article.image.url }}">
		  </div>
		  <div class="content">
		    <div class="header">
		    	<a href="{{ article.url }}"> {{ article.title }} </a>
		    </div>
		   
		    <div class="meta">
		      <a class="group">{{ article.site_name}}</a>
		    </div>
		
		    <div class="description">
		    	{{ article.description }} <br><br>
		    	<p> Posted by <a href="/profile/{{ article.user.id }}/"> {{ article.user }} </a></p>

		    </div>
		  </div>
		  

		  <div class="ui two bottom attached buttons">
		    <div class="ui button">
		      Like
		    </div>
		    <div class="ui button">
		      Share
		    </div>
		  </div>

		</div>
		{% endfor %}
	</div>

	<br>
	<div class="ui right aligned grid">
		<div class="left floated right aligned four wide column">
	        {% if followee_articles.has_previous %}
	            <a href="?page={{ followee_articles.previous_page_number }}">previous</a>
	        {% endif %}
		</div>
		<div class="center floated center aligned four wide column">
		    Page {{ followee_articles.number }} of {{ followee_articles.paginator.num_pages }}.
		</div>		  
		<div class="right floated left aligned four wide column">
	        {% if followee_articles.has_next %}
	            <a href="?page={{ followee_articles.next_page_number }}">next</a>
	        {% endif %}
		</div>
	</div>

	{% else %}

	{% endif %}


</div>

{% endblock content %}