{% extends "core/base.html" %}
{% load staticfiles %}

{% block head %}

<script src="{% static 'markup/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'markup/js/imagesloaded.pkgd.min.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'markup/css/masonry.css' %}" />


<script type="text/javascript">

	// external js: masonry.pkgd.js, imagesloaded.pkgd.js

	$(document).ready( function() {
	  // init Masonry
	  var $grid = $('.grid').masonry({
	    itemSelector: '.grid-item',
	    percentPosition: true,
	    columnWidth: '.grid-sizer'
	  });
	  // layout Isotope after each image loads
	  $grid.imagesLoaded().progress( function() {
	    $grid.masonry();
	  });  

	});

</script>

{% endblock head %}

{% block content %}



<form action="/dashboard/" method="post">
    {% csrf_token %}
    {{ articleform.as_p }}
  	<input type="submit" name="ArticleSubmit" value="Submit" />
</form>

<!--
<form action="/dashboard/" method="post">
    {% csrf_token %}
    {{ followform.as_p }}
  	<input type="submit" name="FollowSubmit" value="Submit" />
</form>
-->

<form action="/profile/" method="post">
    {% csrf_token %}
    {{ profileform.as_p }}
  	<input type="submit" name="ProfileSubmit" value="Submit" />
</form>

<div class="row">
	  
	<div class="col-md-1"></div>
	<div class="col-md-10">
		<div class="grid">
		  <div class="grid-sizer"></div>

		  {% for article in followee_articles %}

		  <div class="grid-item">
		    <img src="{{ MEDIA_URL }}{{ article.image.url }}" />
		  </div>

		  {% endfor %}
		</div>
	</div>
	<div class="col-md-1"></div>



</div>

	{% if followees %}
		{% for followee in followees %}
			<p> {{ followee.user.username }} {{ followee.user.first_name }} {{ followee.user.last_name }}</p>
		{% endfor %}
	{% endif %}

{% endblock content %}