{% extends "core/base2.html" %}
{% load staticfiles %}

{% block head %}
  
  <script src="{% static 'markup/js/main.js' %}"></script>

 
{% endblock head %}

{% block content %}


<div class="ui main container">
	<div class="ui header"> <h1> Most Posted Today</h1> 
	</div>

	{% if top_articles %}
	<div class="ui stackable four cards">


		{% for article in top_articles %}


		<div class="ui card" >
		  <div class="image">
		    <img src="/media/{{ article.image }}">
		  </div>
		  <div class="content">
		    <div class="header">
		    	<a href="{{ article.url }}"> {{ article.title }} </a>
		    </div>
		   
		    <div class="meta">
		      <a class="group">{{ article.site_name}}</a>
		    </div>
		
		    <div class="description">
		    	{{ article.description }} <br>
		    </div>
		  </div>
		  

			<div class="ui bottom attached button">
		      <i class="share icon"></i>
		      Share
		    </div>
		</div>





		{% endfor %}
	</div>

	<div class="ui right aligned grid">
		<div class="left floated right aligned four wide column">
	        {% if top_articles.has_previous %}
	            <a href="?page={{ top_articles.previous_page_number }}">previous</a>
	        {% endif %}
		</div>
		<div class="center floated center aligned four wide column">
		    Page {{ top_articles.number }} of {{ top_articles.paginator.num_pages }}.
		</div>		  
		<div class="right floated left aligned four wide column">
	        {% if top_articles.has_next %}
	            <a href="?page={{ top_articles.next_page_number }}">next</a>
	        {% endif %}
		</div>
	</div>


	{% endif %}

	{% if top_users %}
	<h1> Most Followed Users</h1> 
		<div class="ui four special cards">
		  {% for user in top_users %}
		  <div class="card" id="{{ user.user__username }}">
		    <div class="blurring dimmable image">
		      <div class="ui dimmer">
		        <div class="content">
		          <div class="center">
		            <div class="ui inverted button friend-button">Add Friend</div>
		          </div>
		        </div>
		      </div>
		      <img src="/media/default.png">
		    </div>
		    <div class="content">
		      <a class="header" href="/users/{{ user.user__username }}">{{user.user__username}}</a>
		    </div>
		    <div class="extra content">
		      <p>
		        <i class="users icon"></i>
		        {{ user.followed_by_count }} Followers
		      </p>
		    </div>
		  </div>
		 {% endfor %}
		</div>
	{% endif %}




</div>

{% endblock content %}