{% extends "core/base.html" %}
{% load staticfiles %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="{% static 'markup/css/index.css' %}">

  <script>
    $('ui dropdown')
     .dropdown()
    ;

  </script>
  
{% endblock head %}


{% block content %}


<!-- Page Contents -->
<div class="pusher">
  <div class="ui inverted vertical masthead center aligned segment">

    <div class="ui container">
      <div class="ui large secondary inverted pointing menu">
        <a class="toc item">
          <i class="sidebar icon"></i>
        </a>



        {% if user.is_authenticated %}
        <a class="item" href="/dashboard/">Dashboard</a>
        <a class="item" href="/profile/">My Links</a>
        <a class="item" href="/discover/">Discover</a>
        <div class="right item">
        <a class="ui inverted button" href="/accounts/logout/">Logout</a>
        </div>
        {% else %}

        <a class="item" href="/about/">About</a>
        <a class="item" href="/contact/">Contact Us</a>
        <div class="right item">
          <a class="ui inverted button" href="/accounts/login/">Login</a>
          <a class="ui inverted button" href="/accounts/signup/">Sign Up</a>
        </div>
        {% endif %}

      </div>
    </div>

    <div class="ui text container">
      <h1 class="ui inverted header">
        Linkerbin
      </h1>
      <h2>Share a Story.</h2>
      <a class="ui huge primary button" href="/accounts/signup"> Get Started <i class="right arrow icon"></i></a>
    </div>

  </div>

  

</div>

{% endblock content %}