{% extends "core/base2.html" %}
{% load staticfiles %}

{% block head %}
  
  <script src="{% static 'markup/js/main.js' %}"></script>


{% endblock head %}

{% block content %}


<div class="ui main container">
	<div class="ui header"> <h1> My Articles </h1> 
	

		<form action="create_article" method="POST" class="ui form" id="article-form">
			{% csrf_token %} 
			<div class="field">
		    	<input id="url" type="text" name="url" placeholder="Post a link">
		    </div>
		    <input type="submit" value="Submit" class="ui submit button" id ="article-form">
		    <div id="error"></div>
		</form>


	</div>

	{% if my_articles %}
	<div class="ui stackable four cards" id="add-card">
		
		{% for article in my_articles %}
		<div class="ui card" id="{{ article.id }}">
		  <div class="image">
		    <img src="{{ MEDIA_URL }}{{ article.image.url }}">
		  </div>
		  <div class="content">
		    <div class="header">
		    	<a href="{{ article.url }}"> {{ article.title }} </a>
		    </div>
		   
		    <div class="meta">
		      <a class="group">{{ article.site_name}}</a>
		    </div>
		
		    <div class="description">
		    	{{ article.description }} <br><br>
		    	{{ article.pub_date }} 
		    </div>
		  </div>
		  

		  <div class="ui bottom attached buttons">
		    <div class="ui button delete-button">
		    <i class="delete icon"></i>
		      Delete
		    </div>
		  </div>

		</div>


		{% endfor %}

	</div>
	<br>
	<div class="ui right aligned grid">
		<div class="left floated right aligned four wide column">
	        {% if my_articles.has_previous %}
	            <a href="?page={{ my_articles.previous_page_number }}">previous</a>
	        {% endif %}
		</div>
		<div class="center floated center aligned four wide column">
		    Page {{ my_articles.number }} of {{ my_articles.paginator.num_pages }}.
		</div>		  
		<div class="right floated left aligned four wide column">
	        {% if my_articles.has_next %}
	            <a href="?page={{ my_articles.next_page_number }}">next</a>
	        {% endif %}
		</div>
	</div>

	{% else %}
	{% endif %}


	<br>
	<br>
</div>

{% endblock content %}