{% extends "core/base3.html" %}
{% load staticfiles %}

{% block head %}

{% endblock head %}

{% block content %}

<div class="ui middle aligned divided grid">
	
		<div class="one wide column">
		</div>
		<div class="four wide column info">
			<h2> {{ user_info.username }} </h2>
			<img class="ui image" src="/media/default.png">
		</div>
		<div class="ten wide column article">
		<button class="ui button"> Articles </button>
		<button class="ui button"> Followers </button>
		<button class="ui button"> Following </button>
		<h3> Articles: </h3>
			{% if user_articles %}

				{% for article in user_articles %}

					<div class="ui horizontal segments">
						<img class="ui middle aligned small image" src="{{ MEDIA_URL }}{{ article.image.url }}">
					    <p><a href="{{ article.url }}"> {{ article.title }} </a></p>
					    <p>{{ article.site_name}}</p>
			    		<p>{{ article.description }}</p>
		    		</div>
		    		
				{% endfor %}
			</div>

		{% endif %}
		</div>
		<div class="one wide column">
		</div>

</div>
{% endblock content %}